
__pycache__/BaseFileModProject6.cpython-310.pyc
__pycache__/test_BaseFile.cpython-310-pytest-7.4.2.pyc
__pycache__/test_unittest.cpython-310-pytest-7.4.2.pyc
__pycache__/test_unittest.cpython-310.pyc
